{% extends "mviewer_base.html" %}
{% load i18n %}
{% load base_tags %} 
{% load static from staticfiles %}

{% load subtract %}
{% block body_outer %}
<div id="page-header" class="content">
  <div class="container">
    <div class="titulo-blk-row">
      <div class="titulo-img blk-cell"><img src="{{STATIC_URL}}idegeo/carousel/images/ico11_capas.png" alt=""></div>
        <div class="titulo-txt blk-cell">
          <h2>Configuración del Panorama</h2>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="ms-container-header">
    <div class="project-title clearfix">
          <span class="ms-close-detail">
               <font size="+3"><a href="{% url 'mviewer_list' %}"><i class="fa fa-chevron-left" title="Regresar a Panoramas"></i></a></font>
          </span>
          <h3 title="{{mviewer.name}}">{{mviewer.name|truncatechars:55}}
            <a href="{% url 'microviewer' mviewer.url_id %}" id="nw" target="_blank"><i class="fa fa-arrow-circle-right" title="Ir a"></i></a>
          </h3>
          <span class="close_ms">
            <font size="+3"><a href="{% url 'mviewer_metadata' mviewer.id %}"><i class="fa fa-bars" title="Editar Metadato"></i></a></font>
            <font size="+3"><a href="{% url 'mviewer_remove' mviewer.id %}"><i class="fa fa-trash" title="Eliminar Visualizador"></i></a></font>
          </span>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary">Referencias</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% comment %}
            <li><a href="{% url 'reference_add' %}">Crear</a></li>
            <li><a href="{% url 'references_admin' %}">Administrar</a></li>
            {% endcomment %}
        </ul>
    </div>
    <div id="tmain-table">
        <table class="hor-minimalist-b">
          <thead>
          <tr>
            <th scope="col" colspan="4">Temáticas
                <a href="{% url 'topic_create' mviewer.id %}" style="float:right;">
                <span><i class="fa fa-plus fa-1x" title="Agregar" aria-hidden="true"></i></span>
                </a>
            </th>
          </tr>
          </thead>
            <tbody class="ms-hide-menu">
            {% for top in topics %}
            <tr class="topic-sort" id="{{top.id}}">
                <td>
                    <table class="topic-table">
                        <tr id="top-{{top.id}}" class="topic">
                            <td width="9%">
                                {% if top.custome_icon %}
                                <img src="{{MEDIA_URL}}{{top.custome_icon}}" style="width:25px; height:25px;">
                                {% else %}
                                {% if top.icon %}
                                      <div class="iconUser">
                                          <i class="fa fa-{{ top.icon }} fa-1x" aria-hidden="true"></i>
                                      </div>
                                      {% counter count %}
                                  {% else %}
                                      {% if count %}
                                      <object  class="icon" type="image/svg+xml" data={{ forloop.counter | subtract:count | file_exists }}></object>
                                      {% else %}
                                      <object  class="icon" type="image/svg+xml" data={{ forloop.counter | file_exists }}></object>
                                      {% endif %}
                                  {% endif %}
                                {% endif %}
                            </td>
                            <td width="35%">
                                <div>{{ top.name }}</div>
                            </td>
                            <td class="top-tools" style="width:60px;">
                              <span>
                                <a href="{% url 'topic_metadata' mviewer.id top.id %}">
                                  <i class="fa fa-pencil fa-1x"  title="Editar Temática" aria-hidden="true"></i>
                                </a>
                              </span>
                              <span>
                             <a data-mvid="{{mviewer.id}}" data-topid="{{top.id}}" class="rmvClass">
                                  <i class="fa fa-trash fa-1x" id="deleteLayer" title="Eliminar Temática" aria-hidden="true"></i>
                                </a>
                              </span>
                            </td>
                            <td class="top-exp">
                              <span class="minimize-menu" style="float:right;" data-id="{{top.id}}"><i class="fa fa-expand fa-1x" title="Mostrar Capas"></i></span>
                            </td>
                        </tr>
                        <tr id="top-{{top.id}}-head" style="display:none" class="top-exp">
                          <td></td>
                          <th scope="col" colspan="3">Capas <label style="margin-left:30px;">Titulo - Estilo</label>
                            <i class="fa fa-plus add-layers-btn" title="Agregar Capas" data-toggle="modal" data-target="#add-topic-layer" data-id="{{top.id}}" style="float:right;" aria-hidden="true"></i>
                          </th>
                        </tr>
                        <tr id="top-{{top.id}}-lays" style="display:none" class="top-exp">

                          <td></td>
                          <td id="tlayers-{{top.id}}" class="td-layers" colspan="2">
                            {% for lay in top.layerids_set.all|dictsort:"stack_order" %}
                              <div id="t{{top.id}}l{{lay.layer_id}}r{{lay.stack_order}}" class="sort_layer" data-regid="{{lay.id}}">
                                 <span class="lay-tools">
                                     {% if lay.visible %}
                                       <i class="fa fa-check-square-o"  title="Visible" aria-hidden="true" data-regid="{{lay.id}}"></i>
                                     {% else %}
                                       <i class="fa fa-square-o"  title="Visible" aria-hidden="true" data-regid="{{lay.id}}"></i>
                                     {% endif %}

                                     <a href="{% url 'upload_configure_layer' mviewer.id lay.id %}">
                                       <i class="fa fa-wrench"  title="Ligar herramienta" aria-hidden="true"></i>
                                     </a>
                                     <a href="{% url 'edit_layer_narrative' mviewer.id lay.id %}">
                                     {% if lay.narrative %}
                                        <i class="fa fa-file-text" title="Editar Descripción" aria-hidden="true"></i>
                                     {% else %}
                                        <i class="fa fa-file-text-o" title="Agregar Descripción" aria-hidden="true"></i>
                                     {% endif %}
                                     </a>
                                     {% if lay.markers.all %}
                                     <a href="{% url 'add_layer_markers' mviewer.id lay.id %}">
                                         <i class="fa fa-map-pin" title="Editar Marcadores" aria-hidden="true" data-regid="{{lay.id}}"></i>
                                     </a>
                                     {% else %}
                                     <a href="{% url 'add_layer_markers' mviewer.id lay.id %}">
                                         <i class="fa fa-map-marker" title="Agregar Marcadores" aria-hidden="true" data-regid="{{lay.id}}"></i>
                                     </a>
                                     {% endif %}
                                     <i class="fa fa-trash" id="deleteLayer" title="Eliminar Capa" aria-hidden="true" data-regid="{{lay.id}}" ></i>
                                 </span>
                                  <label>{{lay.title}}</label>
                                 {% if lay.style != lay.default_style %}
                                  <select class="select-style" name="{{lay.name}}"><option value="{{lay.style}}">{{ lay.style }}</option></select>
                                 {% endif %}
                                 <br>
                              </div>
                            {% endfor %}
                          </td>
                        </tr>
                    </table>
                </td>
            </tr>
          {% empty%}
            Agregue temáticas al visualizador.
          {% endfor %}
          </tbody>
        </table>
    </div>
    {% if mviewer.template_style == 'Alternativo' %}
      {% else %}
        <p>Nota: No se permite la creación de mas de{% if mviewer.is_vertical %} 19 {% else %} 7 {% endif %}temáticas por panorama.</p>
    {% endif%}
    {% include "tool_bridge_by_mv.html" %}
  </div>
</div>
<div class="modal fade" id="add-topic-layer" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:830px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" align="center">Seleccionar capas</h4>
      </div>
      <div class="modal-body">
        {% with include_type_filter='true' %}
          {% with header='Type' %}
            {% with filter='type__in' %}
              {% include "_search_layer.html" %}
            {% endwith %}
          {% endwith %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>

<div class="confirm" id="confirmLayer" style="display: none;">
  <h2 class=alert >¿Seguro que quieres eliminar la Capa?</h2>
  <button class="btn btn-danger" id="layerConfirm">Si, Eliminar</button><button class="btn btn-default" id="layerCancel">Cancelar</button>
</div>

<div class="confirm" id="confirmTopic" style="display: none;">
  <h2 class=alert >¿Seguro que quieres eliminar la Temática?</h2>
  <button class="btn btn-danger" id="topicConfirm" >Si, Eliminar</button><button class="btn btn-default" id="topicCancel">Cancelar</button>
</div>
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}idegeo/interactive/js/jquery.mixitup.js" type="text/javascript"></script>
<script src='{{ STATIC_URL }}idegeo/map_interface/js/jquery.quicksearch.js'></script>
<script src="{{STATIC_URL}}idegeo/geonode/js/colorbox/jquery.colorbox.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}idegeo/geonode/css/colorbox/colorbox.css" />

<script type="text/javascript">
    let ms = "{{mviewer.id}}"
  {% if HAYSTACK_SEARCH %}
      SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='base' %}?type__in=layer'
  {% else %}
      SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='layers' %}';
  {% endif %}
FILTER_TYPE = 'layer';
</script>
{% with include_spatial='true' %}
{% if DEBUG_STATIC %}
<script src="{% static "lib/js/angular.js" %}"></script>
<script src="{% static "lib/js/angular-cookies.js" %}"></script>
<script src="{% static "lib/js/angular-openlayers-directive.js" %}"></script>
{% endif %}

{% if include_spatial == 'true' %}
<style>
  .filter-map-container {  /* filter map */
    height: 300px;
  }
</style>
{% endif %}<script src="{% static "geonode/js/search/explore.js" %}"></script>
<script src="{% static "geonode/js/search/search.js" %}"></script>
<script src="{% static "idegeo/geonode/js/search/mviewer_cart.js" %}"></script>
<script type="text/javascript">
  $("body").attr('ng-controller', 'geonode_search_controller');
  CATEGORIES_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='categories' %}';
  GROUP_CATEGORIES_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='groupcategory' %}';
  KEYWORDS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='keywords' %}';
  H_KEYWORDS_ENDPOINT = '{% url 'h_keywords_api' %}';
  var enable_thesauri = false;
  {% if THESAURI_FILTERS %}
    var enable_thesauri = true;
    T_KEYWORDS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='thesaurus/keywords' %}';
  {% endif %}
  REGIONS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='regions' %}';
  OWNERS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='owners' %}';
  GROUPS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='groups' %}';
  HAYSTACK_SEARCH = "{{ HAYSTACK_SEARCH }}".toLowerCase() === "true";
  HAYSTACK_FACET_COUNTS = "{{ HAYSTACK_FACET_COUNTS }}".toLowerCase() === "true";
  CLIENT_RESULTS_LIMIT = {{ CLIENT_RESULTS_LIMIT }};

  // Register autocomplete for text filters
  $(document).ready(function() {
    window.autocomplete = new Autocomplete({
      form_btn: '#text_search_btn',
      form_submit: null,
      form_selector: '#text-search-autocomplete',
      input_selector: '#text_search_input',
      container_selector: '#text-search-container'
    })
    window.autocomplete.setup()
  })

  // Register autocomplete for region filters
  $(document).ready(function() {
    window.autocomplete = new Autocomplete({
      form_btn: '#region_search_btn',
      form_submit: null,
      form_selector: '#region-search-autocomplete',
      input_selector: '#region_search_input',
      container_selector: '#region-search-container',
      url: AUTOCOMPLETE_URL_REGION
    })
    window.autocomplete.setup()
  })

  {% get_context_resourcetype as pathc %}
        {% if pathc == "layers" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_layer"%}';
        {% elif pathc == "maps" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_map" %}';
        {% elif pathc == "documents" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_document" %}';
        {% elif pathc == "search" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_base" %}';
        {% elif pathc == "people" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_profile" %}';
        {% elif pathc == "groups/categories" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_category" %}';
        {% elif pathc == "groups" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_groups" %}';
        {% else %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_base" %}';
        {% endif %}
  AUTOCOMPLETE_URL_REGION = '{% url "autocomplete_region" %}';

  var module = angular.module('search', ['geonode_main_search', 'cart']);
  module.constant('Configs', {
    url: SEARCH_URL
  });

  var deps = ['search'];
  {% if include_spatial == 'true' %}
  deps.push('openlayers-directive');
  {% endif %}
  angular.bootstrap(document, deps);
{% endwith %}
</script>

<script type="text/javascript">
$('#nw').prop('target', '_blank')
</script>

{% include "mviewer_detail.js" %}
{% endblock extra_script %}