{% extends "tables_base.html" %}
{% load bootstrap_tags %}
{% load i18n %}

{% block title %}Union de tabla{% endblock %}

{% block head %}{{ block.super }}{% endblock %}

{% block body %}
<div class="container">
<div class="row">
  <div class="col-md-8">
    <br>
    <p class="lead">
      Tabla de Censo AGF 2007: <br><i>{{ resource.title }}</i>
    </p>
    <form id="join_form" action="{% url "alf_cfilter" resource.id %}" method="POST">
      <h2>Seleccione el campo</h2>
      {% csrf_token %}
      <div class="col-md-6 form-controls">
        {{ form|as_bootstrap }}
        <p id="warning" style="font-size: 14px; color:red"></p>
        <input type="submit" class="btn btn-primary" value="Guardar"/>
      </div>
    </form>
  </div>
</div>
</div>
{% endblock body %}
