<section class="section-component">
    <div class="section-wrapper">
        <div class="container-flat">
            <div class="content"> 
            {% if item.children.all|length > 0 %}
                <!-- COMPONENT [COM_2-BLOQUE-VINETA] -->
                <div id="com_2" class="component com_2">
                    <div class="component-wrapper"> 
                        <!-- BLOCK-1 -->
                        {% for child in item.children.all|dictsort:"stack_order" %}
                        {% if item.style_template == '8' %}
                        <div id="block-1" class="block-item" data-aspect="{% if forloop.counter|divisibleby:2  %}dark{% else %}clear{% endif %}" 
                            {% if forloop.counter|divisibleby:2  %}data-direction="right" {% else %} data-direction="left"{% endif %}>
                            <div class="block-data item-data" {% if child.link %}data-link="{{ child.link }}"{% endif %} data-target="_blank">
                                <div class="item-image" style="background-image: url({{MEDIA_URL}}{{child.image}})"><img src="{{STATIC_URL}}content_handler/css/image_ratio.png" alt=""/></div>
                                <div class="item-head">
                                    <div class="item-category">{{item}}</div>
                                    <div class="item-name">{{child}}</div>
                                </div>
                            </div>
                            <div class="block-data item-content">{{ child.content|safe|escape }}</div>
                        </div>
                        {% else %}
                        <div id="block-1" class="block-item" data-aspect="{% if forloop.counter|divisibleby:2  %}clear{% else %}dark{% endif %}" 
                            {% if forloop.counter|divisibleby:2  %}data-direction="left" {% else %} data-direction="right"{% endif %}>
                            <div class="block-data item-data" {% if child.link %}data-link="{{ child.link }}"{% endif %} data-target="_blank">
                                <div class="item-image" style="background-image: url({{MEDIA_URL}}{{child.image}})"><img src="{{STATIC_URL}}content_handler/css/image_ratio.png" alt=""/></div>
                                <div class="item-head">
                                    <div class="item-category">{{item}}</div>
                                    <div class="item-name">{{child}}</div>
                                </div>
                            </div>
                            <div class="block-data item-content">{{ child.content|safe|escape }}</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <!-- END --> 
                    </div>
                </div>
                <!-- COMPONENT-END --> 
            {% endif %}
            </div>
        </div>
    </div>
</section>