{% if header.description %}
<!-- SECTION-INTRO -->
<section id="section-intro" class="section-intro">
<div class="intro-wrapper section-mh" id="description-header">
  <div class="content">
    <div class="intro-title">
      <div class="title-head">
        <div class="xtc-nowrap" id="text-description-header">
          {{header.description}}
        </div>
        <!--<span class="xtc-nowrap">México-Guatemala</span>-->
      </div>
      <!--<div class="title-sub">Lorem ipsum dolor sit amet consectetur adipiscing elit vivamus urna turpis porta vel convallis nec condimentum ut enim</div>-->
    </div>
  </div>
</div>
</section>
{% endif %}
