{% load i18n avatar_tags %}
<!doctype html>
<html lang="es">
<head>
{% load staticfiles %}
<meta charset="utf-8">
<meta name="description" content="CentroGeo: Plataforma Geoweb IDEGeo">
<meta name="keywords" content="CONACYT, CentroGeo, Plataforma Geoweb, Geoweb, Servicios de Información Geoespacial, Geoespacial">
<meta name="author" content="Centro de Investigación en Ciencias de Información Geoespacial, A.C. (CentroGeo)">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>{% block title %}{{ header.title }}{% endblock %}</title>
<link rel="icon" href="favicon.ico">
<!-- ------- -->
<link href="{{STATIC_URL}}idegeo/content_handler/style_3/css/bootstrap-4.1.3.min.css" rel="stylesheet">
<link href="{{STATIC_URL}}idegeo/content_handler/style_3/css/drawer-3.2.2.min.css" rel="stylesheet">
<link href="{{STATIC_URL}}idegeo/content_handler/style_3/css/jquery-confirm-3.3.4.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
<!-- ------- -->
<style>
	:root {
		{% if MainHeader %}
        --color-theme: {{MainHeader.color}};
    	{% else %}
        --color-theme: rgb(0, 98, 96);
    	{% endif %}
		{% if style.complementary_color %}
		--headColor: {{style.complementary_color}};
		{% else %}
		--headColor: rgb(255,255,255);
		{% endif %}
		{% if style.primary_color %}
		--textColor: {{style.primary_color}};
		{% else %}
		--textColor: rgba(0, 0, 0, 1.00);
		{% endif %}
		{% if style.second_color %}
		--mainColor: {{style.second_color}};
		{% else %}
		--mainColor: rgba(237, 209, 29, 1.00);
        {% endif %}
        {% if style.font %}
        --mainFont: '{{ style.font }}', sans-serif;
        {% else %}
        --mainFont: 'Merriweather Sans', sans-serif;
        {% endif %}
	}
</style>
<link href="{{STATIC_URL}}idegeo/content_handler/style_3/css/styles.css" rel="stylesheet">
<script src="{{STATIC_URL}}idegeo/content_handler/style_3/js/jquery-3.3.1.min.js"></script> 
</head>

<body id="cgeo_inicio" class="tem_00 content-features drawer drawer--top">

<!-- BODY-WRAPPER -->
<div id="body-wrapper"> 
	
	<!-- HEADER -->
	<header id="header">
		<div class="header-wrapper">
			<div class="container-full">
				<div class="content">
					<div class="head-logo">
						<a class="sitelogo" href="/cms/{{home.url_name}}">
							<img src="{{MEDIA_URL}}{{ header.image_1 }}" alt="{{ header.alt_1 }}" title="{{ header.alt_1 }}">
						</a>
						<a class="sitelogo" href="/cms/{{header.url_2}}">
							<img src="{{MEDIA_URL}}{{ header.image_2 }}" alt="{{ header.alt_2 }}" title="{{ header.alt_2 }}">
						</a>
						<a class="sitelogo" href="/cms/{{header.url_3}}">
							<img src="{{MEDIA_URL}}{{ header.image_3 }}" alt="{{ header.alt_3 }}" title="{{ header.alt_3 }}">
						</a>
						<a class="sitelogo" href="/cms/{{header.url_4}}">
							<img src="{{MEDIA_URL}}{{ header.image_4 }}" alt="{{ header.alt_4 }}" title="{{ header.alt_4 }}">
						</a>
						<a class="sitelogo" href="/cms/{{header.url_5}}">
							<img src="{{MEDIA_URL}}{{ header.image_5 }}" alt="{{ header.alt_5 }}" title="{{ header.alt_5 }}">
						</a>
					</div>
					<div class="head-name">
						<h1 class="name-item sitename"><span class="xtc-nowrap">{{header.title}}</span></h1>
					</div>
					{% if header.is_login %}
	<div id="header-tools" class="header-tools">
		{% if user.is_authenticated %}
		<i data-toggle="modal" data-target="#UserModal" class="fas fa-user"  title="Buscar"></i>
		{% else %}
		<i data-toggle="modal" data-target="#SigninModal" class="fas fa-user"  title="Buscar"></i>
		{% endif %}
	</div>
{% endif %}
				</div>
			</div>
		</div>
	</header>
	
    {% block middle %}{% endblock middle %}
	
	<!-- END --> 
</div>


<!-- BODY-WRAPPER-END --> 

<!-- SLIDER-NAV -->
<nav id="slider-nav" class="slider-nav" role="navigation">
	<ul class="slider-menu">
		{% for item in news %}
			{% if forloop.counter == 1 %}
			<li class="xtoc"><a href="#section-intro"><span class="xtoc-txt">Inicio</span></a></li>
			{% else %}
			<li class="xtoc"><a href="#xtoc-0{{forloop.counter}}"><span class="xtoc-txt">{{item}}</span></a></li>
			{% endif %}
        {% endfor %}
	</ul>
</nav>

<!-- HEADER-NAV -->
<nav id="header-nav" class="header-nav" role="navigation"></nav>

<!-- DRAWER-NAV -->
{% if topics.count > 4 %}
    <nav id="drawer-nav" class="drawer-nav" role="navigation">
	    <button type="button" class="drawer-toggle drawer-hamburger"><span class="sr-only">toggle navigation</span><span class="drawer-hamburger-icon"></span></button>
	    <div class="drawer-wrapper"></div>
    </nav>
{% else %}
    <nav class="inline-nav">
        <ul>
            {% for item in topics %}
            <li>
                <a href="{% if item.link %}{{ item.link }}{% else %}{% url "content_multimedia" home.url_name item.slug  %}{% endif %}" {% if item.blank %} target="_blank" {% endif %}> {{item}}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}

<!-- SCRIPTS --> 
<script src="{{STATIC_URL}}idegeo/content_handler/style_3/js/bootstrap-4.1.3.bundle.min.js"></script> 
<script src="{{STATIC_URL}}idegeo/content_handler/style_3/js/fontawesome-all-5.6.1.min.js"></script> 
<script src="{{STATIC_URL}}idegeo/content_handler/style_3/js/TweenMax-2.0.2.min.js"></script> 
<script src="{{STATIC_URL}}idegeo/content_handler/style_3/js/iscroll-5.2.0.min.js"></script> 
<script src="{{STATIC_URL}}idegeo/content_handler/style_3/js/drawer-3.2.2.min.js"></script> 
<script src="{{STATIC_URL}}idegeo/content_handler/style_3/js/jquery-confirm-3.3.4.min.js"></script> 
<!-- ------- --> 
<script src="{{STATIC_URL}}idegeo/content_handler/style_3/js/ScrollMagic-2.0.6.min.js"></script> 
<!--<script src="js/plugins/debug.addIndicators-2.0.6.min.js"></script> --> 
<script src="{{STATIC_URL}}idegeo/content_handler/style_3/js/plugins/animation.gsap-2.0.6.min.js"></script> 
<script src="{{STATIC_URL}}idegeo/content_handler/style_3/js/plugins/ScrollToPlugin-1.9.1.min.js"></script> 
<!-- ------- --> 
<script>
    {% include 'styles/handler_3/scripts_nav.js' %}
</script> 
<script src="{{STATIC_URL}}idegeo/content_handler/style_3/js/scripts.js"></script>
{% if topics.count <= 4 %}
<script>
    var content =   '<div class="inline-nav-header">' +
                    '<ul>' +
                    {% for item in topics %}
                    '<li>' +
                    '<a href="{% if item.link %}{{ item.link }}{% else %}{% url "content_multimedia" home.url_name item.slug  %}{% endif %}" {% if item.blank %} target="_blank" {% endif %}> {{item}}</a>' +
                    '</li>' +
                    {% endfor %}
                    '</ul>' +
                    '</div>';
    $('.header-wrapper > .container-full ').append(content);
    $('.header-wrapper > .container-full').addClass('inline-separator');
</script>
{% endif %}
{% if not user.is_authenticated %}
<div class="modal fade" id="SigninModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">{% trans "Sign in" %}</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <form class="form-signin" role="form" action="{% url "account_login" %}?next={{ request.path }}" method="post">
            <div class="modal-body">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_username" class="sr-only">{% trans "Username" %}:</label>
                <input id="id_username" class="form-control" name="username" placeholder="{% trans "Username" %}" type="text" />
              </div>
              <div class="form-group">
                <label for="id_password" class="sr-only">{% trans "Password" %}:</label>
                <input id="id_password" class="form-control" name="password" placeholder="Password" type="password" />
              </div>
              <label class="checkbox">
                <input type="checkbox" /> {% trans "Remember Me" %}
              </label>
              <label class="checkbox">
                Click <a href="{% url 'account_signup' %}" style="color: #089fcf;">aquí</a> para registrarte.
              </label>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-block">{% trans "Sign in" %}</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel" style="margin: 0;color: black;font-weight: 500;">{% trans "Menu" %}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    <!--<li><a href="{% url "layer_upload" %}"><i class="fa fa-cloud-upload"></i> {% trans "Upload Layers" %}</a></li>-->
                    <li class="modal-divider"></li>
					<li>{% avatar user 20 %} {{ user.username }}</li>
                    {% if request.user.is_authenticated and request.user.ide_access %}
					<li><a href="{% url 'layer_browse' %}"><i class="fa fa-cog"></i> Gestión del catálogo</a></li>
					{% if MainHeader %}
                    <li><a href="{% url 'config_interface' MainHeader.id %}"><i class="fa fa-paint-brush"></i> Editar interfaz</a></li>
					{% else %}
					<li><a href="{% url 'config_interface' %}"><i class="fa fa-paint-brush"></i> Editar interfaz</a></li>
					{% endif %}
					{% endif %}
                    {% comment %}
                    <li><a href="{% url 'ms_gestor_list' %}"><i class="fa fa-cubes"></i> Micrositios</a></li>
                    {% endcomment %}
                    <li><a href="{% url 'mviewer_list' %}"><i class="fa fa-window-maximize"></i> Panoramas</a></li>
                    <li><a href="{% url 'content_handler_list' %}"><i class="fa fa-window-restore"></i> CMS</a></li>
                    {% if request.user.is_superuser %}
                    {% comment %}
                    <li><a href="{% url 'blog_admin' %}"><i class="fa fa-cubes"></i> Blog</a></li>
                    {% endcomment %}
                    {% endif %}
                    <hr>
                    <li><a href="{{ user.get_absolute_url }}"><i class="fa fa-user"></i> {% trans "Profile" %}</a></li>
                    <!--<li><a href="{% url "recent-activity" %}"><i class="fa fa-fire"></i> {% trans "Recent Activity" %}</a></li>-->
                    <!--<li><a href="{% url "messages_inbox" %}"><i class="fa fa-inbox"></i> {% trans "Inbox" %}</a></li>-->
                    {% if USE_NOTIFICATIONS %}
                    {% comment %}
                    <!--<li><a href="{% url "notification_notice_settings" %}"><i class="fa fa-bell"></i> {% trans "Notifications" %}</a></li>-->
                    {% endcomment %}
                    {% endif %}
                    {% if perms.announcements.can_manage %}
                    <li><a href="{% url "announcements_list" %}"><i class="fa fa-bullhorn"></i> {% trans "Announcements" %}</a></li>
                    {% endif %}
                    {% if user.is_superuser %}
                    <li><a href="{% url "services" %}"><i class="fa fa-globe"></i> {% trans "Remote Services" %}</a></li>
                    {% comment %}
                    <li><a href="{% url "account_invite_user" %}"><i class="fa fa-edit"></i> {% trans "Invite User" %}</a></li>
                    {% endcomment %}
                    <li class="modal-divider"></li>
                    <li><a href="{{ GEOSERVER_BASE_URL }}"><i class="fa fa-gears"></i> {% trans "GeoServer" %}</a></li>
                    {% endif %}
                    {% if user.is_staff %}
                    <li><a href="{% url "admin:index" %}"><i class="fa fa-cog"></i> {% trans "Admin" %}</a></li>
                    {% endif %}
                    {% block extra_user_menu %}
                    {% endblock %}
                    <li class="modal-divider"></li>
                    <li><a title="Help" rel="tooltip" href="/help/"><i class="fa fa-question-circle"></i> {% trans "Help" %}</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <form action="{% url "account_logout" %}" id="logout_form" method="post">
                {% csrf_token %}
                <a class="btn btn-warning btn-block" href="javascript:{}" onclick="document.getElementById('logout_form').submit();">{% trans "Log out" %}</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
</body>
</html>
