{% extends "layers/layer_base.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load pinax_ratings_tags %}
{% load base_tags %}
{% load guardian_tags %}

{% block title %}Visor de mapas{% endblock %}

{% block head %}
   {{ block.super }}
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Shadows+Into+Light+Two" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />
  <link href="{{ STATIC_URL }}layers/css/base_layers_interface.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ STATIC_URL }}layers/css/getfeature_popup.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}coordinates/Leaflet.Coordinates-0.1.5.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}zoombox/L.Control.ZoomBox.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
  <link rel="stylesheet" href="//unpkg.com/leaflet-gesture-handling/dist/leaflet-gesture-handling.min.css" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet/2.0.7/esri-leaflet.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}coordinates/Leaflet.Coordinates-0.1.5.min.js"></script>
  <script src="{{ STATIC_URL }}zoombox/L.Control.ZoomBox.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}colorbrewer/js/colorbrewer_schemes.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6ZJwb2cqgW1YXsmXGT1I-0ujia5UREAg" async defer></script>
  <script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>
  <!--Dragable JS-->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//unpkg.com/leaflet-gesture-handling"></script>
<style>
    /*Tematizador*/
    .r-color {
        background: #fff;
    }
    .modal-header, h4, .close {
        background-color: rgba(253, 198, 87, 1.00);
        color:white !important;
        text-align: center;
        font-size: 30px;
    }
    #m3c label {
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 14px;
    }
    .fadeMsg {
      display: none;
      color: red;
    }
    .navbar {
        position: fixed;
        padding: 10px 0;
        top: 0px;
        right: 0px;
        left: 0px;
        margin: 0px;
        background-color:#002369;
        z-index: 999;
    }
    .navbar-brand img {
      padding:0 10px;
      background: white;
    }
    .vl {
      border-left: 1px solid #f8f9fa;
      padding: 23px 5px 23px 16px;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      font-family: "Poppins", sans-serif;
    }
    .navbar-brand {
      float: initial;
    }
    .range {
       width:100%;
       position: absolute;
       bottom: 30px;
    }
</style>
{% endblock %}
{% block header %} {% endblock %}

{% block body %}
<nav class="navbar">
    <a class="navbar-brand">
        <img class="d-inline-block align-top" src="/static/mviewer/img/CentroGeo-CMX_Logo-V.png" height="40" alt="Logo CentroGeo" title="Centro de Investigación en Ciencias de Información Geoespacial (CentroGeo)">
        <span class="vl">{{title}}</span>
    </a>
</nav>
<div class="container_n">
  <div class='loader' style="top:27px;">
    <div class='loader-container'>
      <div class='progress progress-striped active' style="height:4px;">
        <div class='progress-bar progress-bar-info' id='bar' role='progressbar' style='width: 0%;'></div>
      </div>
    </div>
  </div>
  <div class="container_layers_visor">
    <!--<div id="header">
      <div class="logo">Visor de mapas</div>
      <div class="headerButtons">
        <i id="myBtn" class="fa fa-floppy-o" aria-hidden="true"></i>
        <i data-toggle="tooltip" data-placement="bottom" title="Ayuda" class="fa fa-question-circle"></i>
      </div>
    </div>-->
    <!--Panel izquierdo-->
    <div class="layerMenu translateLayerListRight animationTransition" style="padding-top:0px;">
      <div class="layerListIcons">
        <div id="m1" class="layerMenuIconDiv">
          <div class="layerMenuIcon verticalCenter"><i class="fa fa-filter"></i></div>
        </div>
        <div id="m2" class="layerMenuIconDiv catTrgg">
          <div class="layerMenuIcon verticalCenter"><i class="fa fa-sitemap"></i></div>
        </div>
        <div id="m3" class="layerMenuIconDiv wmsTrgg">
          <div class="layerMenuIcon verticalCenter"><i class="fa fa-external-link"></i></div>
        </div>
        <div id="m4" class="layerMenuIconDiv">
          <div class="layerMenuIcon verticalCenter"><i class="fa fa-map"></i></div>
        </div>
      </div>
      <div class="layerList">
        <div class="labelsContainer animationTransition">
          <div id="m1t" data-id="#m1" class="layerMenuTopLevelGroupLabel translatable" style="direction: ltr;">
            <div class="layerMenuTopLevelGroupLabelText verticalCenter" style="float: left; margin-right: 0px;">Filtro por texto</div>
          </div>
          <div id="m2t" data-id="#m2" class="layerMenuTopLevelGroupLabel translatable catTrgg" style="direction: ltr;">
            <div class="layerMenuTopLevelGroupLabelText verticalCenter" style="float: left; margin-right: 0px;">Categorías</div>
          </div>
          <div id="m3t" data-id="#m3" class="layerMenuTopLevelGroupLabel translatable wmsTrgg" style="direction: ltr;">
            <div class="layerMenuTopLevelGroupLabelText verticalCenter" style="float: left; margin-right: 0px;">WMS externo</div>
          </div>
          <div id="m4t" data-id="#m4" class="layerMenuTopLevelGroupLabel translatable" style="direction: ltr;">
            <div class="layerMenuTopLevelGroupLabelText verticalCenter" style="float: left; margin-right: 0px;">Mapa base</div>
          </div>
        </div>
        <div id="m1c" class="layerGroupContainer">
          <div class="backToListButton"><div>Volver a la lista</div><div class="backToListArrow"></div></div>
          <div class="layerContainerLabel translatable" data-id="m1c" style="direction: ltr;">Filtro por texto</div>
          <div class="layerMenuTopLevelGroupContainer">
            <div class="input-group">
              <input name="text_search_input_l" id="text_search_input_l" type="text" placeholder="texto" class="form-control ng-pristine ng-valid ng-touched" autocomplete="off">
              <span class="input-group-btn">
                  <button class="btn btn-info" type="submit" id="text_search_btn_l"><i class="fa fa-filter"></i></button>
              </span>
            </div>
            <div id="result_text">
            {% for layer in local_layers %}
              <div id="m1c{{category.id}}l{{layer.id}}" class="layerMenuTopLevelGroupContainer layer">
                <div class="layerRow" style="display: none;" data-x0="{{layer.bbox_x0}}" data-x1="{{layer.bbox_x1}}" data-y0="{{layer.bbox_y0}}" data-y1="{{layer.bbox_y1}}" data-title="{{layer.title}}">
                  {% if layer.id in dwn_ids %}
                  <span class="fa-stack fa-lg download-l">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i title="Descargar capa" class="fa fa-download fa-stack-1x fa-inverse g-download" data-toggle="modal" data-target="#download-layer" data-name="{{layer.typename}}" data-storeType="{{layer.storeType}}" data-id="lm2c{{category.id}}l{{layer.id}}i"></i>
                  </span>
                  {% endif %}
                  <label for="m1c{{category.id}}l{{layer.id}}i" title="{{layer.title|capfirst}}">
                    <input class="checkbox" type="checkbox" id="m1c{{category.id}}l{{layer.id}}i" href="{{layer.ows_url}}"
                           value="{{layer.typename}}" data-layerid="{{layer.id}}" data-x0="{{layer.bbox_x0}}" data-x1="{{layer.bbox_x1}}"
                           data-y0="{{layer.bbox_y0}}" data-y1="{{layer.bbox_y1}}" data-title="{{layer.title|capfirst}}"
                           data-info="{{layer.abstract|capfirst}}" title="{{layer.title|capfirst}}">
                    {{layer.title|capfirst}}
                  </label>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
        <div id="m2c" class="layerGroupContainer">
          <div class="backToListButton"><div>Volver a la lista</div><div class="backToListArrow"></div></div>
          <div class="layerContainerLabel translatable" data-id="m2c" style="direction: ltr;">Categorías</div>
          <div id="cat_container" class="layerMenuTopLevelGroupContainer"></div>
          <div id="cat_load" style="position:relative;top:100px;left:50%;">
              <img src='{{STATIC_URL}}geonode/img/loading.gif'/>
              <br><label style="font-size: 12px; position:relative;right:21px;">Cargando</label>
          </div>
        </div>
        <div id="m3c" class="layerGroupContainer">
          <div class="backToListButton"><div>Volver a la lista</div><div class="backToListArrow"></div></div>
          <div class="layerContainerLabel translatable" data-id="m3c" style="direction: ltr;">WMS externo</div>
          <div class="form-group level2LabelBorderBottom">
            <div class="input-group">
              <select class="form-control" id="wmsSelect">
                <option value="null">Seleccione...</option>
                {% for wms in wms_services %}
                 <option value="{{wms.base_url}}">{{wms.name}}</option>
                {% endfor %}
              </select>
              {% if request.user.is_superuser %}
              <span class="input-group-btn">
               <button class="btn btn-info" type="submit" id="addWmsService" title="Registrar" data-toggle="modal" data-target="#addWmsModal"><i class="fa fa-plus"></i></button>
               <button class="btn btn-info" type="submit" id="editWmsService" title="Editar" data-toggle="modal" data-target="#editWmsModal"><i class="fa fa-cog"></i></button>
              </span>
              {% endif %}
            </div>
            <br>
            <label>Otro servicio:</label>
            <input id="wmsUrl" type="text" placeholder="URL" class="form-control ng-pristine ng-valid ng-touched">
            <p id="invalidUrlMsg" style="display:none; color:red; font-size:11px; margin:0; padding:0;">Escriba una URL valida</p>
            <input id="nameSearch" type="text" placeholder="ID Capa (opcional)" class="form-control" style="margin-top:12px;">
            <span class="input-group-btn">
              <button class="btn btn-info pull-right" type="submit" id="addWmsBtn" disabled="true" style="margin:10px 0px;"><i class="fa fa-search"></i></button>
            </span>
          </div>
          <div class="form-group level2LabelBorderBottom" style="margin-top:10px;">
            <label for="wmsLayers">Capas</label>
            <button class="btn btn-info btn-xs pull-right" type="submit" id="emptyWms" disabled="true">Vaciar</button>
          </div>
          <div id="wmsLayers" style="height:440px;overflow-y:auto; overflow-x: hidden; display:none;"></div>
          <p id="notFoundUrlMsg" class="fadeMsg" style="font-size:12px; margin:0; padding:0;">No se encontró el servicio</p>
          <div id="wmsLoad" style="position:relative;top:100px;left:50%;display:none;">
              <img src='{{STATIC_URL}}geonode/img/loading.gif'/>
              <br><label style="font-size: 12px; position:relative;right:21px;">Cargando</label>
          </div>
        </div>
        <div id="m4c" class="layerGroupContainer">
          <div class="backToListButton"><div>Volver a la lista</div><div class="backToListArrow"></div></div>
          <div class="layerContainerLabel translatable" data-id="m4c" style="direction: ltr;">Mapa base</div>
          <div id="baseLayers" class="layerMenuTopLevelGroupContainer"></div>
        </div>
      </div>
      <div id="leftMenuActivationTab" data-toggle="tooltip" data-placement="right" title="Capas" class="layerListNub animationTransition translateLayerListNubRight"><div class="verticalCenter layerMenuNubOpen"></div></div>
    </div>
    <!--Panel derecho-->
    <div class="layerMenu2 translateLayerListRight2 lm-closed animationTransition" style="padding-top:0px;">
      <div id="mapLayerListHandle">
        <div class="legend-title" style="direction: ltr; float: left;">SU SELECCIÓN</div>
        <div class="toolsSelected" style="display: none;">
          <i class="fa fa-search" data-toggle="tooltip" title="Zoom a la capa" data-placement="bottom" aria-hidden="true"></i>
          <i class="fa fa-eye-slash" data-toggle="tooltip" data-placement="bottom" title="Swipe" aria-hidden="true"></i>
          <!--<i id="duplicateLayer" class="fa fa-files-o" data-toggle="tooltip" title="Duplicar capa" data-placement="bottom" aria-hidden="true"></i>-->
          <!--<i id="styleCreate" class="fa fa-paint-brush" data-toggle="tooltip" title="Crear estilo de la capa" data-placement="bottom" aria-hidden="true"></i>-->
        </div>
      </div>
      <div id="addlegend" class="animationTransition">
        <div class="text-center"><a id="returnBtn" class="btn btn-primary btn-xs" href="#" style="display:none;" >Regresar</a></div>
      </div>
      {% include "sld_manager.html" %}
      <div data-toggle="tooltip" data-placement="left" title="Leyenda" class="layerListNub2 animationTransition translateLayerListNubLeft2"><div class="fa fa-list" style="padding: 5px; color:#003a4c; font-size: 16px;"></div></div>
    </div>
    {% include "sld_manager_windows.html" %}
    <div id="wrapper">
      <div id="map" style="top:0;"></div>
      <input id='range' class='range' type='range' min='0' max='1.0' step='any' style="display:none;" />
      <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
  </div>
</div>
{% include "wms_modal.html" %}
<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="image-gallery-title"></h4>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-responsive" src="">
            </div>
        </div>
    </div>
</div>
<!-- Save Map Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:15px 20px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="fa fa-globe"></span> Guardar mapa</h4>
      </div>
      <div class="modal-body" style="padding:40px 50px;">
        <form role="form">
          <div class="form-group">
            <label for="usrname"><span class="fa fa-circle"></span> Título</label>
            <input type="text" class="form-control" id="title" placeholder="Escriba un título" maxlength="50" required>
          </div>
          <div class="form-group">
            <label for="psw"><span class="fa fa-circle"></span> Resumen</label>
            <textarea class="form-control" rows="4" id="abstract" placeholder="Escriba una descripción" maxlength="50" required></textarea>
          </div>
          <!--<div class="form-group">
            <label for="category"><span class="fa fa-circle"></span> Categorias</label>
            <select id="category" name="category" class="form-control">
              {% for category in list_category  %}
              <option value="{{category.id}}">{{category.gn_description|capfirst}}</option>
              {% endfor %}
            </select>
          </div>-->
            <button type="submit" id="savenewMap" class="btn btn-primary btn-block"><span class="fa fa-floppy-o"></span> Guardar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="fa fa-times"></span> Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="download-layer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Download Layer" %}</h4>
      </div>
      <div class="modal-body">
        {% if links %}
        <ul>
          {% for link in links %}
          <li><a href="{{ link.url }}">{% trans link.name %}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
  <script src='{{ STATIC_URL }}map_interface/js/jquery.quicksearch.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
{% include "L.TileLayer.BetterWMS.js" %}
<script>{% include "basemap.js" %}</script>
{% include "visor_map.js" %}
{% include "sld_manager.js" %}
{% include "sld_gui_manager.js" %}
<script>{% include "wms_service.js" %}</script>
{% endblock extra_script %}