<!-- Modal para seleccionar un atributo de la capa -->
<div class="modal fade bd-example-modal-lg" id="ref_map" tabindex="-1" role="dialog" aria-labelledby="ref_map" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
  <div class="modal-body">
    {{reference_map.narrative|safe|escape}}
  </div>
  <div class="modal-footer">
    <div class="less-selected">
      <!--Input less selected -->
    </div>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
  </div>
</div>
</div>
</div>
<!--End Modal-->
