{% extends "site_base.html" %}
{% load i18n %}

{% block title %}{{ main.title }} — {{ block.super }}{% endblock %}

{% block body_outer %}
<div class="container">
  <div class="row"><br>
    <div class="col-md-8">
      <form action="{% url "remove_main" main.id %}" method="POST">
        <h2>
          {% blocktrans with main.title as section_title %}
            ¿Esta seguro que desea eliminar la sección: {{ section_title }}?
          {% endblocktrans %}
        </h2>
        <br>
        {% csrf_token %}
        <input type="hidden" value="{{ main.title }}" />
        <div class="form-actions">
          <input type="submit" value="{% trans "Yes, I am sure" %}" class="btn btn-danger" />
          <a href="{{ main.get_absolute_url }}" class="btn btn-info">{% trans "No, don't remove it" %}</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
