{% extends "site_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block title %} Home {% endblock %}

{% block head %}
  {% include "geonode/ext_header.html" %}
  <link rel="stylesheet" href="{{STATIC_URL}}idegeo/content_handler/css/home.css"/>
  {{ block.super }}
{% endblock %}

{% block body_class %}category{% endblock %}

{% block body_outer %}

<!--HEADER-TITULO-->
<div id="page-header" class="content">
	<div class="container">
		<div class="titulo-blk-row">
      <div class="titulo-img blk-cell">
        <i class="fa fa-home fa-5x title-detail" title="Content" aria-hidden="true"></i>
        <!-- <img src="{{STATIC_URL}}idegeo/carousel/images/ico22_lineas-trabajo.png" alt=""> -->
      </div>
			  <div class="titulo-txt blk-cell">
				  <h2>Crear Home</h2>
			  </div>
		</div>
	</div>
</div>
<div class="container">
	{% if obj %}
	 <span class="ms-close-detail">
	  <a href="{% url 'content_handler_detail' obj.id %}"><i class="fa fa-chevron-left" title="Regresar"></i></a>
     </span>
	{% else %}
	<span class="ms-close-detail">
	  <a href="{% url 'content_handler_list' %}"><i class="fa fa-chevron-left" title="Regresar"></i></a>
     </span>
	{% endif %}
	<div class="row">
		<div class="col-md-6" id="general">
			<form id="formulario" method="post" enctype="multipart/form-data" action="">{% csrf_token %}
        {% if no_group %}
				    <p style="color:red;">No eres parte de un grupo, unete a un grupo para crear un home.</p>
			   {% endif %}
				{{ form.media }}
				{{form|as_bootstrap}}
				<p><input type="submit" class="btn btn-primary" value="Confirmar"></p>
			</form>
			<!-- <div id="colorPicker">
        <a class="color"><div class="colorInner"></div></a>
        <div class="track"></div>
        <ul class="dropdown"><li></li></ul>
        <input type="hidden" class="colorInput"/>
    </div>-->
		</div>
	</div>
</div>
<script>
$("#id_group").html('<option value="">---------</option>');
{% for group in profile.group_list_all %}
	$("#id_group").append('<option value="{{group.id}}" {% if obj.group.id == group.id %}selected="selected"{% endif %}>{{group.title}}</option>');
{% endfor %}
</script>
{% endblock %}
{% block extra_script %}
 <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
{% endblock %}
