{% extends "site_base.html" %}
{% load i18n %}

{% block title %}{{ ms.name }} — {{ block.super }}{% endblock %}

{% block body_outer %}
<div class="container" id="rm_padding">
  <div class="row"><br>
    <div class="col-md-10">
      <form action="{% url "ms_remove" ms.id %}" method="POST">
        <h2>
          {% blocktrans with ms.name as ms_title %}
            ¿Esta seguro que desea eliminar el Micrositio: {{ ms_title }}?
          {% endblocktrans %}
        </h2>
         
        <br>
        {% csrf_token %}
        <input type="hidden" value="{{ slope.typename }}" />
        <div class="form-actions">
          <input type="submit" value="Si, Eliminar" class="btn btn-danger" />
          <a href="{% url 'ms_detail' ms.id %}}" class="btn btn-default">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
