{% extends "site_base.html" %}
{% load bootstrap_tags %}
{% load i18n %}

{% block title %} Cargar Tabla {% endblock %}

{% block head %}{{ block.super }}{% endblock %}

{% block body_outer %}
<!--HEADER-TITULO-->
<div id="page-header" class="content">
  <div class="container">
    <div class="titulo-blk-row">
      <div class="titulo-img blk-cell"><img src="{{STATIC_URL}}carousel/images/ico11_capas.png" alt=""></div>
        <div class="titulo-txt blk-cell">
          <h2>Cargar Tabla Intercensal</h2>
        </div>
    </div>
  </div>
</div>
<div class="container">
<a href="{% url 'custom_tables_list' %}" class="btn btn-primary pull-right">Explorar Tablas</a>
<div class="row">
{% block body %}
<div class="col-md-8">
  <form id="upload_form"  method="post" enctype="multipart/form-data" action="{% url "tables_upload_custom" %}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
    <p>Tipos de archivo permitidos: .csv .xls .xlsx</p>
    {{ form|as_bootstrap }}
    <p>Nota: Este proceso puede tomar unos minutos, de acuerdo
        al tamaño del archivo.</p>
    <button type="submit" id="upload-button" class="btn btn-primary">Cargar</button>
  </form>
</div>
{% endblock %}

{% block sidebar %}
<div class="col-md-4">
  <h3>{% trans "Permissions"  %}</h3>
  <form id="permission_form">
    {% include "_permissions.html" %}
  </form>
</div>
{% endblock %}
</div>
</div>
{% endblock body_outer %}


{% block extra_script %}
{% include "_permissions_form_js.html" %}
<script type="text/javascript">
    $('#id_uploaded_file').on('change', function(){
        if($('#id_title').val() == ''){
            $('#id_title').val($('#id_uploaded_file').val().replace("C:\\fakepath\\", ""));
        }
    });
    $("#resource").select2({
        minimumInputLength: 1,
        placeholder: 'Select layer, map or empty',
        width: 'element',
        ajax: {
          traditional: true,
          url: '{% url 'api_dispatch_list' api_name='api' resource_name='base' %}',
          data: function(term,page){
            return {
              type__in: ['layer','map'],
              title__contains: term.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '')
            }
          },
          results: function(data) {
            return {
              results: $.map(data.objects,function(object){
                return {id: object.id, text: object.title};
              })
            }
          }
        }
      });
    $('#upload_form').submit(function(){
      $('#permissions').val(JSON.stringify(permissionsString($('#permission_form'),'base')));
    });
</script>
{% endblock extra_script %}
