{% extends "tables_upload_base.html" %}
{% load bootstrap_tags %}
{% load i18n %}

{% block title %} Editar Tabla {% endblock %}

{% block body_class %}customtables metadata{% endblock body_class %}

{% block head %}{{ block.super }}{% endblock %}

{% block body_outer %}
<!--HEADER-TITULO-->
<div id="page-header" class="content">
  <div class="container">
    <div class="titulo-blk-row">
      <div class="titulo-img blk-cell"><img src="{{STATIC_URL}}idegeo/carousel/images/ico11_capas.png" alt=""></div>
        <div class="titulo-txt blk-cell">
          <h2>Metadato de Tabla Intercensal</h2>
        </div>
    </div>
  </div>
</div>
<div class="container">
<a href="{% url 'custom_tables_list' %}" class="btn btn-primary pull-right">Explorar Tablas</a>
<div class="row">
{% block body %}
<div class="col-md-8">
  <form id="upload_form"  method="post" enctype="multipart/form-data" action="{% url 'customtables_metadata' table.id %}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
    <div style="margin-bottom:50px;">
      {{ form|as_bootstrap }}
    </div>
    <div class="col-md-12 grid-spacer">
      <label class="control-label">{% trans "Attributes" %}</label>
      {{ attribute_form.management_form }}
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>{% trans "Description" %}</th>
          <th>{% trans "Display Order" %}</th>
        </tr>
        {% for form in attribute_form.forms %}
        {% if form.attribute %}
        <tr>
          <td><div style="display:none">{{form.id}}</div>{{form.attribute}}</td>
          <td>{{form.attribute_type}}</td>
          <td>{{form.description}}</td>
          <td>{{form.display_order}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </table>
    </div>
    <button type="submit" id="upload-button" class="btn btn-primary">Guardar</button>
  </form>
</div>
{% endblock %}
</div>
</div>
{% endblock body_outer %}