<div class="content-panel2" id="ejecute-surfaces" style="display: none;">
  <div class="container">
       <div class="sp-slideshow">
         <input id="button3-1" type="radio" name="radio-set3" class="sp-selector3-1" checked="checked" />
         <input id="button3-1" type="radio" name="radio-set3" class="sp-selector3-1" checked="checked" />
         <label for="button3-1" class="button-label-1"></label>

         <input id="button3-2" type="radio" name="radio-set3" class="sp-selector3-2" />
         <label for="button3-2" class="button-label-2"></label>

         <input id="button3-3" type="radio" name="radio-set3" class="sp-selector3-3" />
         <label for="button3-3" class="button-label-3"></label>

         <input id="button3-4" type="radio" name="radio-set3" class="sp-selector3-4" />
         <label for="button3-4" class="button-label-4"></label>

         <input id="button3-5" type="radio" name="radio-set3" class="sp-selector3-5" />
         <label for="button3-5" class="button-label-5"></label>

         <label for="button3-1" class="sp-arrow3 sp3-a1"></label>
         <label for="button3-2" class="sp-arrow3 sp3-a2"></label>
         <label for="button3-3" class="sp-arrow3 sp3-a3"></label>
         <label for="button3-4" class="sp-arrow3 sp3-a4"></label>
         <label for="button3-5" class="sp-arrow3 sp3-a5"></label>

         <div class="sp-content3">
           <div class="sp-parallax-bg"></div>
           <ul class="sp-slider3">
             <li>
               <div class="title-chars">Distribución de otras superficies</div>
               <div class="surfaces" style="color: black; position: relative; left: -115px;"></div>
             </li>
             <li>
               <div class="title-chars">Datos del productor: Escolaridad</div>
                <div class="scholerships" style="color: black; position: relative; left: -115px;"></div>
             </li>
             <li>
               <div class="title-chars">Economía de subsistencia: Principal tipo de ingreso (UP)</div>
                <div class="economy" style="color: black; position: relative; left: -115px;"></div>
             </li>
             <li>
               <div class="title-chars">Economía de subsistencia: Dependientes económicos</div>
                <div class="economy_dependences tabs-ball"></div>
             </li>
             <li>
               <div class="title-chars">Economía de subsistencia: Servicios</div>
               <div class="services tabs-ball"></div>
             </li>
           </ul>
         </div><!-- sp-content -->
       </div><!-- sp-slideshow -->
  </div>
</div>
