<div id="main-forest" style="display: none;">
<div class="menu-left-ac">
  <span id="forest-technology" class="crops-main-img" style="color: #630f4f;">
    <!-- <i class="fa fa-laptop" title="Tecnologia Forestal" aria-hidden="true"></i> -->
    <img src="{{STATIC_URL}}soa_toolkit/img/ac/technology_pink.png" width="25px;" title="Tecnología aplicada a la producción forestal" alt="pv"/>
  </span>
  <span id="forest-installation" class="crops-main-img">
    <!-- <i class="fa fa-wrench" title="Instalaciones Forestales" aria-hidden="true"></i> -->
    <img src="{{STATIC_URL}}soa_toolkit/img/ac/installation.png" width="25px;" title="Instalaciones para el manejo de la producción forestal" alt="pv"/>
  </span>
  <span id="forest-destination" class="crops-main-img">
    <!-- <i class="fa fa-times-circle" title="Instalaciones forestales" aria-hidden="true"></i> -->
    <img src="{{STATIC_URL}}soa_toolkit/img/ac/wood.png" width="25px;" title="Destino de la producción maderable" alt="pv"/>
  </span>
  <span id="forest-not-wood" class="crops-main-img">
    <!-- <i class="fa fa-random"  title="Destino de la producción forestal maderable" aria-hidden="true"></i> -->
    <img src="{{STATIC_URL}}soa_toolkit/img/ac/fungus.png" width="25px;" title="Destino de la producción no maderable" alt="pv"/>
  </span>
  <span id="forest-surfaces" class="crops-main-img">
    <img src="{{STATIC_URL}}soa_toolkit/img/ac/surface.png" width="25px;" title="Distribución de otras superficies" alt="pv"/>
  </span>
</div>
  <div class="content-panel2" id="ejecute-forest-technology"></div>
  <div class="content-panel2" id="ejecute-forest-installation" style="display: none;"></div>
  <div class="content-panel2" id="ejecute-forest-destination" style="display: none;"></div>
  <div class="content-panel2" id="ejecute-forest-not-wood" style="display: none;"></div>
  {% include "BasicSurfaceForest.html" %}
</div>
{% include "BasicForest.js" %}
