<div class="table-responsive">
  <div class="col-md-10">
      <div id="infoLocalidad" style="display: none;">
           <span class="nombreLocalidad"></span><span class="cveLocalidad"></span>,&nbsp;
           <span class="nombreMunicipio"></span><span class="cveMunicipio"></span>,&nbsp;&nbsp;
           <span class="nombreEntidad"></span><span class="cveEntidad"></span>&nbsp;&nbsp;
      </div>
<table class="table-results" id="control-area-tbl-main">
  <tr class="tr-results">
    <th class="th-results">
        Estado:
    </th>
    <td class="td-results">
      <span id="coverage_ac"> </span>
    </td>
    <th class="th-results">
        Municipio:
    </th>
    <td class="td-results">
      <span id="muni_ac"> </span>
    </td>

  </tr>
  <tr class="tr-results">
    <th class="th-results">
        Agebs:
    </th>
    <td class="td-results">
      <span id="id_ageb_ac"> </span>
    </td>
    <th class="th-results">
        Área de control:
    </th>
    <td class="td-results">
      <span id="id_ac"> </span>
    </td>
  </tr>
</table>
</div>
</div>
