<div class="container">
     <div class="sp-slideshow">
       <input id="button2-1" type="radio" name="radio-set2" class="sp-selector2-1" checked="checked" />
       <input id="button2-1" type="radio" name="radio-set2" class="sp-selector2-1" checked="checked" />
       <label for="button2-1" class="button-label-1"></label>

       <input id="button2-2" type="radio" name="radio-set2" class="sp-selector2-2" />
       <label for="button2-2" class="button-label-2"></label>

       <input id="button2-3" type="radio" name="radio-set2" class="sp-selector2-3" />
       <label for="button2-3" class="button-label-3"></label>

       <input id="button2-4" type="radio" name="radio-set2" class="sp-selector2-4" />
       <label for="button2-4" class="button-label-4"></label>

       <label for="button2-1" class="sp-arrow2 sp2-a1"></label>
       <label for="button2-2" class="sp-arrow2 sp2-a2"></label>
       <label for="button2-3" class="sp-arrow2 sp2-a3"></label>
       <label for="button2-4" class="sp-arrow2 sp2-a4"></label>

       <div class="sp-content2">
         <div class="sp-parallax-bg"></div>
         <ul class="sp-slider2">
           <li>
             <div class="title-chars">Primavera-Verano</div>
             <div id="piechart-crop-edo"></div>
             <div id="piechart-crop-edo-cos"></div>
           </li>
           <li>
             <div class="title-chars">Primavera-Verano</div>
              <div id="correlation-pv"></div>
           </li>
           <li>
             <div class="title-chars">Otoño–Invierno</div>
             <div id="piechart-crop-edo-oi"></div>
             <div id="piechart-crop-edo-oi-cos"></div>
           </li>
           <li>
             <div class="title-chars"> Perenne</div>
             <div id="piechart-crop-edo-pn"></div>
             <div id="piechart-crop-edo-pn-cos"></div>
           </li>
         </ul>
       </div><!-- sp-content -->
     </div><!-- sp-slideshow -->
</div>
