<div id="main-distribution" style="display: none;">
<div class="menu-left-ac">
  <span id="distribution" class="crops-main-img">
    <img src="{{STATIC_URL}}soa_toolkit/img/ac/ganado_pink.png" width="25px;" title="Problematica" alt="pv"/>
  </span>
  <span id="distribution_production" class="crops-main-img">
    <img src="{{STATIC_URL}}soa_toolkit/img/ac/milk.png" width="25px;" title="Destino de la producción" alt="pv"/>
  </span>
  <span id="distribution_surfaces" class="crops-main-img">
    <img src="{{STATIC_URL}}soa_toolkit/img/ac/surface.png" width="25px;" title="Distribución de otras superficies" alt="pv"/>
  </span>
</div>
<div class="content-panel2" id="ejecute-distribution"></div>
<div class="content-panel2" id="ejecute-distribution-production" style="display: none;"></div>
{% include "BasicSurfaceFarm.html" %}
</div>
{% include "BasicFarm.js" %}
