<!-- Modal para la intersección de elementos de un mapa -->
<div id="census_tool" class="modal modal-hide">
    <div class="modal-backdrop"></div>
    <div class="modal-window">
      <a href="#" class="modal-close"><i class="fa fa-times fa-lg"></i></a>
      <div class="modal-wrapper scroll-dark has-footer">
        <h4 class="modal-title" id="myModalLabel">Realiza una consulta del censo 2010</h4>
        <div class="modal-content">
          <div class="modal-source">
            <div class="row edit-modal">
              <div class="text-body-mod">
                <div class="radio-count-data" style="padding-left: 20px;">
                  <form id="c2010_form" action="#">
                                  <div class="national_coverage">
                                    <select name="AC_Coverages" id="AC_Coverage" class="AC_from_coverage">
                                          <option selected="selected" value="0">---SELECCIONA EL NIVEL---</option>
                                    </select>
                                    <span class="field switch" id="switch_ac" style="display: none;">
                                      <div id="national_ac" class="section2">
                                          <span class="container-rdb"><span class="add_by" style="margin-right: 40px;">Agregación por:</span>
                                            <input type="radio" name="group_nat" id="radio-1" value="mun" checked="true">
                                            <label for="radio-1"><span class="radio-AC">Municipio</span></label>
                                          </span>
                                          <span class="container-rdb">
                                            <input type="radio" name="group_nat" id="radio-2" value="statal" >
                                            <label for="radio-2"><span class="radio-AC">Estatal</span></label>
                                          </span>
                                      </div>
                                    </span>
                                  </div>

                                  <div id="statal_ac" class="section2" style="display: none;">
                                      <span class="container-rdb"><span class="add_by" style="margin-right: 40px;">Agregación por:</span>
                                        <input type="radio" name="group_est" id="radio-4" value="mun" checked="true">
                                        <label for="radio-4"><span class="radio-AC">Municipio</span></label>
                                      </span>
                                      <span class="container-rdb">
                                        <input type="radio" name="group_est" id="radio-5" value="agb">
                                        <label for="radio-5"><span class="radio-AC">Agebs</span></label>
                                      </span>
                                      <span class="container-rdb">
                                        <input type="radio" name="group_est" id="radio-6" value="ac">
                                        <label for="radio-6"><span class="radio-AC">Areas de control</span></label>
                                      </span>
                                  </div>
                                  
                                  <div class="states_AC" style="display: none;">
                                    <select name="AC_States" id="AC_State" class="AC_from_state">
                                          <option selected="selected" value="0">---SELECCIONA UN ESTADO---</option>
                                    </select>
                                  </div>

                                  <div class="towns_AC" style="display: none;">
                                    <!-- <p class="field">Municipios</p> -->
                                    <select name="AC_Towns" id="AC_Town" class="AC_from_towns">
                                          <option selected="selected" value="0">---SELECCIONA UN MUNICIPIO---</option>
                                    </select>
                                  </div>
                                  <div class="categorys_AC" style="display: none;">
                                    <!-- <p class="field">Categoria</p> -->
                                    <select name="AC_Category" id="AC_Category" class="AC_from_category">
                                          <option selected="selected" value="0">---SELECCIONA UNA CATEGORIA---</option>
                                    </select>
                                  </div>
                                  <p></p>
                                  <div class="subjects_AC" style="display: none;">
                                    <!-- <p class="field_subjec">Tema</p> -->
                                    <select name="AC_Subject" id="AC_Subject" class="AC_from_subject">
                                          <option selected="selected" value="0">---SELECCIONA UN TEMA---</option>
                                    </select>
                                  </div>
                                  <div class="themes_AC" style="display: none;">
                                     <!-- <p class="field_subjec">Campo de tematización</p> -->
                                    <select name="AC_Theme" id="AC_Theme" class="AC_from_theme">
                                          <option selected="selected" value="0">---SELECCIONA UN CAMPO DE TEMATIZACIÓN---</option>
                                    </select>
                                  </div>
                                  <div class="fields_AC" style="display: none;">
                                    <!-- <p class="field_subjec">Campo a tematizar</p> -->
                                    <select name="AC_Field" id="AC_Field" class="AC_from_Field">
                                          <option selected="selected" value="0">---SELECCIONA UN CAMPO A TEMATIZAR---</option>
                                    </select>

                                    <p></p>
                                    <div class="tematic_map" style="display: none;">
                                      <span class="tematics">
                                        <span id="tematizer_map"><i class="fa fa-eye" title="Ver Mapa Tematico"></i></span>
                                      </span>
                                      <!-- <span id="configure_AC"><i class="fa fa-cogs fa-1x" aria-hidden="true" title="Configuraciones avanzadas"></i></span> -->
                                    </div>
                                  </div>
                                  <input type="button" class="btn btn-success btn-xs" id="run_query_theme" value="Generar Mapa" style="display:none;">
                                  <!-- <input type="button" class="btn btn-success btn-xs" id="run_query_number" value="Generar Mapa" style="display:none;"> -->
                                  <div class="notice" id="notice_ac">
                                  </div>
                                  <div class="worng" id="worng_ac">
                                  </div>
                              </form>

                  <hr></hr>
                </div>
                <div class="right-pie" style="padding-left: 20px;">
                  <div class="question-pie-data">
                    <!--Input div question -->
                  </div>
                  <div class="pie-data-base">
                    <!--Input div grafic -->
                  </div>
                  <div class="pie-data-general-grafic">
                    <!--Input div base layers -->
                  </div>
                  <div class="check-data-general-grafic-pie">
                    <!--Input div base layers -->
                  </div>
                  <div class="check-analisys-data-general-grafic-pie">
                    <!--Input div base layers -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="m-btncontainer is-center">
            <div class="less-selected">
              <!--Input less selected -->
            </div>
            <input type="button" class="btn little green uppercase" id="run_query_theme_census" value="Generar Mapa" style="display:none;">
          </div>
        </div>
      </div>
    </div>
</div>
<!--End Modal-->
{% include "census_control.js" %}
