{% extends "mviewer_base.html" %}
{% load i18n %}

{% block title %}{{ tool.help }} — {{ block.super }}{% endblock %}

{% block body_outer %}
<div class="container">
  <div class="row"><br>
    <div class="col-md-8">
      <form action="{% url "delete_configure" tool.id %}" method="POST">
        <h2>
          {% blocktrans with tool.help as sv_title %}
            ¿Esta seguro que desea eliminar la herramienta: {{ sv_title }}?
          {% endblocktrans %}
        </h2>

        <br>
        {% csrf_token %}
        <input type="hidden" value="{{ slope.typename }}" />
        <div class="form-actions">
          <input type="submit" value="{% trans "Yes, I am sure" %}" class="btn btn-danger" />
            <a href="{% url 'config_tool' %}" class="btn btn-info">{% trans "No, don't remove it" %}</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
