@font-face {
	font-weight: normal;
	font-style: normal;
}

.container_chart{
    background: rgba(255,255,255,255);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.legend-color{	
	width: 113px;
}
.legend-color-0{
    background-color: #ddfff6;
}
.legend-color-1{
    background-color: #7fd;
}
.legend-color-2{
    background-color: #00cc99;
}
.legend-color-3{
    background-color: #086;
}
.legend-breaks{
	text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14;
    color: #b9babf;
}
table#legend-colors tr td.legend-color {
    height: 12px;
    width: 113px;
    opacity: 0.7;
    cursor: pointer;
}
#hide_map2030, #quit_map2030{
     padding: 0px 10px 0px 0px;
 }
 .icons_2030{
    float: right;
     cursor: pointer;
     padding: 5px 5px 0px 10px;
 }
 .title_2030{
    float: left;
    padding: 25px 0px 0px 10px;
    width: 390px;
 }
#chart-container{
    cursor:pointer;
    display: none;
    position:absolute; /* important (all position that's not `static`) */
    top: 100px;
    right: 50px;
    width: 450px; 
    height: 85px;
}
.radio-trimestre{
    padding: 10px;
}
.map-legend-up{
    height: 36px;
    cursor:move;
}
.dowload_csv a{
    color: #b1aea6;
}